/* Variables */
/* Mixins */
/*** Utility Class ***/
/*---- Colors ----*/
.pm-cyan {
  color: #2ab2af; }

.pm-yellow {
  color: #c0df34; }

.nt-white {
  color: #ffffff; }

.nt-grayBlue {
  color: #98a6bd; }

.nt-lightGray {
  color: #e5eff5; }

.bg-pm-yellow {
  background: #c0df34; }

.lg-text {
  font-size: 3rem; }

/*---- Layout ----*/
.two-block {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.section {
  padding: 50px; }

.section__title {
  margin: 0 0 20px 0; }

.section__subtitle {
  font-size: 1.8rem;
  margin: 0 0 16px 0; }

.section__text {
  max-width: 600px;
  margin: 0;
  line-height: 1.76; }

/* Default Styles */
html {
  box-sizing: border-box;
  font-size: 10px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/*** Global Styles ***/
body {
  background: #ebebeb;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.15; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  line-height: 1.8; }

.container {
  width: 700px;
  margin: 0 auto; }

.btn {
  border: 0;
  border-radius: 4px;
  padding: 18px 80px;
  font-size: 1.5rem;
  text-transform: capitalize;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  outline: 0;
  font-weight: 700;
  cursor: pointer; }

.block {
  padding: 50px; }
  .block__title {
    margin: 0 0 2.2rem 0; }
  .block__text--btnSpacing {
    margin-bottom: 3.6rem; }

/* Components */
.community {
  background: #ffffff; }

.subscription {
  background: #2ab2af; }
  .subscription__pricing {
    font-size: 4rem; }
    .subscription__pricing span {
      font-size: 1.6rem;
      display: inline-block;
      vertical-align: middle; }

.about-us {
  background: #2ab2af;
  opacity: 0.86; }
